In [1]:
import pandas as pd 
import numpy as np

In [6]:
df0 = pd.read_csv('sales_store.csv')
df0.head(2)

   Store Type  Dept  Weekly_Sales        Date  IsHoliday
0      1    A     1      24924.50  05/02/2010      False
1      1    A     1      46039.49  12/02/2010       True

In [7]:
df0.shape

(421570, 6)

In [8]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Type          421570 non-null  object
 2   Dept          421570 non-null  int64
 3   Weekly_Sales  421570 non-null  float64
 4   Date          421570 non-null  object
 5   IsHoliday     421570 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(2)
memory usage: 16.5+ MB

In [9]:
df1 = df0.copy()

In [12]:
df1['Date'] = pd.to_datetime(df1['Date'], format='%d/%m/%Y')

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Type          421570 non-null  object
 2   Dept          421570 non-null  int64
 3   Weekly_Sales  421570 non-null  float64
 4   Date          421570 non-null  datetime64[ns]
 5   IsHoliday     421570 non-null  bool
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 16.5+ MB

In [18]:
df2 = df1.copy()

In [19]:
df2['IsHoliday'] = df2['IsHoliday'].replace(
    {
        True:1,
        False:0
    }
)

C:\Users\ThecnomacLecheria\AppData\Local\Temp\ipykernel_11556\3976020221.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2['IsHoliday'] = df2['IsHoliday'].replace(

In [24]:
df2.head(2)

   Store Type  Dept  Weekly_Sales       Date  IsHoliday
0      1    A     1      24924.50 2010-02-05          0
1      1    A     1      46039.49 2010-02-12          1

In [23]:
df2.tail(2)

        Store Type  Dept  Weekly_Sales       Date  IsHoliday
421568     45    B    98        760.01 2012-10-19          0
421569     45    B    98       1076.80 2012-10-26          0

In [22]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Type          421570 non-null  object
 2   Dept          421570 non-null  int64
 3   Weekly_Sales  421570 non-null  float64
 4   Date          421570 non-null  datetime64[ns]
 5   IsHoliday     421570 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 19.3+ MB

In [25]:
df2['year'] = pd.DatetimeIndex(df2['Date']).year

In [27]:
df2.tail(2)

        Store Type  Dept  Weekly_Sales       Date  IsHoliday  year
421568     45    B    98        760.01 2012-10-19          0  2012
421569     45    B    98       1076.80 2012-10-26          0  2012

In [28]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Type          421570 non-null  object
 2   Dept          421570 non-null  int64
 3   Weekly_Sales  421570 non-null  float64
 4   Date          421570 non-null  datetime64[ns]
 5   IsHoliday     421570 non-null  int64
 6   year          421570 non-null  int32
dtypes: datetime64[ns](1), float64(1), int32(1), int64(3), object(1)
memory usage: 20.9+ MB

In [30]:
df_2010 = df2[ df2['year'] == 2010]
df_2010.reset_index(inplace=True)

In [31]:
df_2010.head(2)

   index  Store Type  Dept  Weekly_Sales       Date  IsHoliday  year
0      0      1    A     1      24924.50 2010-02-05          0  2010
1      1      1    A     1      46039.49 2010-02-12          1  2010

In [32]:
df_2011 = df2[ df2['year'] == 2011]
df_2011.reset_index(inplace=True)

df_2012 = df2[ df2['year'] == 2012]
df_2012.reset_index(inplace=True)

In [33]:
# exporta dataset por year
df_2010.to_csv('data_2010.csv', index=False)
df_2011.to_csv('data_2011.csv', index=False)
df_2012.to_csv('data_2012.csv', index=False)